# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

zero-shot-counting/
*.pyc
*.pth
*.ckpt

PseCo_fsc_filtered_cls_head-10000.tar
MLP_small_box_w1_zeroshot.tar

*.safetensors

data/*.json
pretrained_models
benchmark_results
.git.old
*.pt
*.pdf

.vscode

data/multiclass-dataset/images
multiclass_benchmark_results

junk/
plots/

export-multiclass-dataset/
export-multiclass-dataset.zip

data/gt_density_maps_FSC
data/images_384_VarV2
